* {
    background: black;
    color: white;
    font-size: 1.2em;
}

#logo {
    float: left;
}

#playLevelButton {
    float: right;
}

#playLevelButton, #level {
    background: green;
}

#soundOffImage, #soundOnImage {
    position: absolute;
    bottom: 0;
    right: 0;
}